/* prevent problems with different browsers*/
* {box-sizing: border-box;}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

/*header stuff goes here*/
header {
    background-color: #003777;
    background-image: radial-gradient(#003777, #006b99);
    padding: 1rem 2vw;  
    display: flex;
    align-items: flex-end
}
header div {
    padding-left: 1vw;
}
header h1 {
    color: white;
    margin: 0;
    }

header p {
    color: white;
    margin: 0;
    letter-spacing: .5px;
}


/* small screens */
@media only screen and (max-width: 600px) {
    nav ul {
        margin: 0; 
        padding: 0 0vw;
        list-style-type: none;
         background-color: white;   
    }
    nav a {
        display: block; 
        padding: .8rem;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        border-bottom: solid 1px #003777;
        border-top: solid 1px #003777;
        color: #003777;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
            
    }
    nav .active a {
        background-color: #003777;
        color: white;
        background-image: radial-gradient(#003777, #006b99);
        color: white;
    }
} /*end of the media query*/

/* BIG screens*/
@media only screen and (min-width: 601px) {
    nav {
    background-color: #aed3e3;    
}

nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav ul li a {
    font-size: 1.1rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #003777;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem; 
}

nav li.active a {
    background-color: #003777;
    background-image: radial-gradient(#003777, #006b99);
        color: white;
    
    
}
nav a:hover {
    color: white;
}
}/*end of the media query*/



/*main stuff here*/
main {
    padding: 1rem 2vw; 
}
main h1 {
    color: #003777;
}
main h2 {
    color: #009dcf; 
    margin-bottom: .2rem;
}
main p {
    color: #2f3133; 
    margin: 0 0 .3rem 0;
}
main ul {
    padding: .5rem 3vw;
   background-color: #efefef; 
}
main dl dt {
    color: #003777;
    font-weight: 700;
}
main dl dd {
    color: #2f3133;
    font-size: .9rem;
}
main ul {
    list-style-type: circle;
    
}
main li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main address {
    font-style: normal;
    padding: .5rem;
    width: 20rem;
    }
main a {
    color: #2f3133;
    
}
main a:hover {
    color: rgb(239,0,24);
    
}
.waltdisney {
    width: 100%;
    margin: 0;
    
}
.waltdisney img{
    width: 100%;
    height: auto;
}

Figure.wrapped {
    width: 30%;
    Margin-right: 2px;
    Float: right;
    
}
Figure.wrapped img {
    width: 100%;
    height: auto;    
}
Figure.wrapped img {
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
Figure.wrapped figcaption {
    text-align: center;
    font-size: .7rem;
}
div.gallery {
    display: flex; 
    flex-wrap: wrap;
}
div.gallery img {
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.gallery img:hover {
     box-shadow: 9px 33px 10px black;
}
div.gallery figure {
    margin: 1rem 2% 0 0;
}
div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: white;
    padding: .3rem 0;
    background-color:#003777;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
    
}
.myForm fieldset {
    border: 1px solid #003777;
    Border-radius: 3px;
    margin-bottom: 1rem;
     border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  
}

.myForm legend {
    color: white;
    background-color: #003777;
    padding: .5rem;
    border-radius: 5px;
    font-size: .8rem; 
     border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.myForm label {
    margin: .5rem;  
}
.myForm label, .myForm select, .myForm [type=text], .myForm [type=tel], .myForm textarea {
    display: block; 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
}

.myForm select, .myForm [type=text], .myForm [type=tel], .myForm textarea {
    border: solid 1px #888;
    padding: .3rem;
    Width: 250px;
    border-radius: .3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
    
    
}
.myForm select {
    margin: 1rem 0 0 1vw;
    font-size: 1rem; 

}
.myForm textarea {
    height: 6rem;
    margin: 0 0 2vw 0;
    
    
}
.myForm :required{
    border-left: 6px solid red;
}
.myForm :required:valid{
    border-left: 6px solid green;
}
.myForm [type=submit] {
    background-color: #003777;
    Border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;
    font-size: 1.2rem;
}


table.our-activities {
    width:100%;
    border-collapse: collapse;   
}
table.our-activities th {
    background-color: #003777;
    color: white;  
    padding: .5rem 2vw;
    text-align: left;
}
table.our-activities td{
    color: #003777;
    padding: .4rem 2vw;    
}
table.our-activities tr:nth-child(odd) {
    background-color: #f7f7f7;
}
table.our-activities tr:hover {
    background-color: 
        rgba(00,00,300,0.3);
    
}

/*footer stuff goes here*/


footer {
    background-color: #f9f8ff;
    text-align: center;
    color: #003777;
    padding: 1rem 0; 
    font-size: .8rem;
    clear: both;
    
}
footer a {
    color: #003777;
    
}

header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}